<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/cd2508da-cd86-480d-808e-fab6038acb68/resourceGroups/Escola/providers/Microsoft.ApiManagement/service/Escolaapi/apis/Escola</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/cd2508da-cd86-480d-808e-fab6038acb68/resourceGroups/Escola/providers/Microsoft.Web/sites/Escola20220701200820</ResourceId>
    <ResourceGroup>Escola</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://escola20220701200820.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9fbe9220-94a2-4fa5-a19b-92fa85c97700</ProjectGuid>
    <PublishUrl>https://escola20220701200820.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Escola20220701200820</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>